<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263583401702-421189v6c57s6gkoia0ee0r9j7rrm3h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263583401702-421189v6c57s6gkoia0ee0r9j7rrm3h7</string>
	<key>API_KEY</key>
	<string>AIzaSyCKZ6HvnMjq07UvHZsmXtsME6p-sUjp2x0</string>
	<key>GCM_SENDER_ID</key>
	<string>263583401702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quarang.UdiSIM</string>
	<key>PROJECT_ID</key>
	<string>udisim-8d924</string>
	<key>STORAGE_BUCKET</key>
	<string>udisim-8d924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263583401702:ios:f18e1cc38082363b429d27</string>
</dict>
</plist>