<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250215455997-fovkf1gm3ehna8vlmhhdgfc62dljcq20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250215455997-fovkf1gm3ehna8vlmhhdgfc62dljcq20</string>
	<key>API_KEY</key>
	<string>AIzaSyCSFdesrlYwiSrVV_j4SExpjYfGLFYerro</string>
	<key>GCM_SENDER_ID</key>
	<string>250215455997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quarang.UiSIM</string>
	<key>PROJECT_ID</key>
	<string>udisim-63de2</string>
	<key>STORAGE_BUCKET</key>
	<string>udisim-63de2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250215455997:ios:b4e19d80127c55e3cfb294</string>
</dict>
</plist>